:root {
  /* Neutral Colors */
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;

  /* Light Salmon Colors */
  --light-salmon-500: #fea36f;
  --light-salmon-100: #fff5ef;
  --light-salmon-50: #fff5ef;

  /* Gradients */
  --gradient-text: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient-bg: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

  /* Spacing */
    --spacing-0: 0;
    --spacing-025: 0.125rem; /* 2px */
    --spacing-050: 0.25rem;  /* 4px */
    --spacing-075: 0.375rem; /* 6px */
    --spacing-100: 0.5rem;   /* 8px */
    --spacing-150: 0.75rem;  /* 12px */
    --spacing-200: 1rem;     /* 16px */
    --spacing-250: 1.25rem;  /* 20px */
    --spacing-300: 1.5rem;   /* 24px */
    --spacing-400: 2rem;     /* 32px */
    --spacing-500: 2.5rem;   /* 40px */
    --spacing-600: 3rem;     /* 48px */
    --spacing-800: 4rem;     /* 64px */
    --spacing-1000: 5rem;    /* 80px */

  /* Border Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}
